<!DOCTYPE html>
<html>
<head>
    {% include 'head.html' %}
</head>
<body>
    {% include 'menu.html' %}
    <section class="right">
        <article class="main">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">欢迎</h1>
                </div>
                <div class="panel-body">
                    <h1 class="text-primary text-center">欢迎使用管理系统</h1>
                </div>
            </div>
        </article>
    </section>
</body>
</html>