<!DOCTYPE html>
<html>
<head>
    {% include 'head.html' %}
    <link type="text/css" rel="stylesheet" href="static/css/lib/jquery.toastmessage.css">
    <script src="static/js/lib/jquery.form.js"></script>
    <script src="static/js/lib/jquery.validate.min.js"></script>
    <script src="static/js/lib/jquery.toastmessage.js"></script>
    <script src="static/js/src/config.js"></script>
    <script src="static/js/src/functions.js"></script>
    <script src="static/js/src/matInUpdate.js"></script>
</head>
<body>

{% include 'menu.html' %}

<section class="right">

    {% include 'matSubMenu.html' %}

    <article class="main">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">新建/修改原材料进货记录</h1>
            </div>
            <div class="panel-body" id="opt-body">
                <form class="form-horizontal" id="myForm" action="materialorders/create" method="post">

                    <!--<div class="form-group">
                        <label for="material_id" class="control-label col-md-2">原材料名称*</label>
                        <div class="col-md-8">
                            <select name="material_id" class="form-control" id="material_id">
                                <option value="1">材料1</option>
                            </select>
                        </div>
                    </div>-->
                    <div class="form-group">
                        <label for="material" class="control-label col-md-2">类别*</label>
                        <div class="col-md-8">
                            <select name="material" class="form-control" id="material">
                                {% for material in materials  %}
                                <option value="{{material.id}}">{{material.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="sp" class="control-label col-md-2">供应商*</label>
                        <div class="col-md-8">
                            <select name="sp" class="form-control" id="sp">
                                <option value="">未选择原材料</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="amount_buy" class="control-label col-md-2">数量*</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control"  name="amount_buy"
                                   id="amount_buy">
                        </div>
                        <label for="unit" class="control-label col-md-2">单位*</label>
                        <div class="col-md-3">
                            <select name="unit" class="form-control" id="unit">
                                <option value="kg">千克</option>
                                <option value="g">克</option>
                                <option value="t">吨</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="unit_price" class="control-label col-md-2">单价（元）*</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" name="unit_price"
                                   id="unit_price">
                        </div>
                        <label for="amount_price" class="control-label col-md-2">金额*</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" readonly name="amount_price"
                                   id="amount_price">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="date_buy" class="control-label col-md-2">进货日期*</label>
                        <div class="col-md-8">
                            <input type="date" class="form-control" name="date_buy" id="date_buy">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="memo" class="control-label col-md-2">备注</label>
                        <div class="col-md-8">
                            <textarea class="form-control" id="memo" name="memo" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-8">
                            <button type="submit" class="btn btn-success form-control">确定</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </article>
</section>

{% include 'loading.html' %}

</body>
</html>