<!DOCTYPE html>
<html>
<head>
    {% include 'head.html' %}
    <link type="text/css" rel="stylesheet" href="static/css/lib/jquery.toastmessage.css">
    <script src="static/js/lib/jquery.form.js"></script>
    <script src="static/js/lib/jquery.validate.min.js"></script>
    <script src="static/js/lib/jquery.toastmessage.js"></script>
    <script src="static/js/src/config.js"></script>
    <script src="static/js/src/functions.js"></script>
    <script src="static/js/src/supplierUpdate.js"></script>
</head>
<body>
{% include 'menu.html' %}
<section class="right">
    <article class="main">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">新建/修改供应商</h1>
            </div>
            <div class="panel-body" id="opt-body">
                <form class="form-horizontal" id="myForm" action="sp/create_or_update" method="post">
                    {% if sp.id %}
                    <input type="hidden" name="id" value="{{sp.id}}">
                    {% endif %}

                    <div class="form-group">
                        <label for="name" class="control-label col-md-2">名称*</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" value="{{sp.name}}" name="name" id="name">
                        </div>
                    </div>
                    <!--<div class="form-group">
                        <label for="_materials" class="control-label col-md-2">供应*</label>
                        <div class="col-md-8">
                            <select name="_materials" class="form-control" id="_materials" multiple="multiple">
                                <option value="1">原料1</option>
                                <option value="2">原料2</option>
                                <option value="3">原料3</option>
                                <option value="4">原料4</option>
                            </select>
                        </div>
                    </div>-->
                    <div class="form-group">
                        <label for="materials" class="control-label col-md-2">供应*</label>
                        <div class="col-md-8">
                            <select name="materials" class="form-control" id="materials" multiple>
                                {% for material in materials  %}
                                    {% if material.id in sp.materials_id  %}
                                    <option selected value="{{material.id}}">{{material.name}}</option>
                                    {% else %}
                                    <option value="{{material.id}}">{{material.name}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="contact_name" class="control-label col-md-2">联系人*</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" value="{{sp.contact_name}}"
                                   name="contact_name" id="contact_name" >
                        </div>
                        <label for="contact_tel" class="control-label col-md-2">电话*</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" value="{{sp.contact_tel}}"
                                   name="contact_tel" id="contact_tel">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="contact_address" class="control-label col-md-2">地址*</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" value="{{sp.contact_address}}" name="contact_address" id="contact_address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="shop_address" class="control-label col-md-2">网址*</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" value="{{sp.shop_address}}" name="shop_address" id="shop_address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="memo" class="control-label col-md-2">备注</label>
                        <div class="col-md-8">
                            <textarea class="form-control" id="memo" name="memo" rows="3">{{sp.memo}}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-8">
                            <button type="submit" class="btn btn-success form-control">确定</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </article>
</section>

{% include 'loading.html' %}

</body>
</html>