<!DOCTYPE html>
<html>
<head>
    {% include 'head.html' %}
    <link type="text/css" rel="stylesheet" href="static/css/lib/jquery.toastmessage.css">
    <script src="static/js/lib/jquery.form.js"></script>
    <script src="static/js/lib/jquery.validate.min.js"></script>
    <script src="static/js/lib/jquery.toastmessage.js"></script>
    <script src="static/js/src/config.js"></script>
    <script src="static/js/src/functions.js"></script>
    <script src="static/js/src/zWorkerUpdate.js"></script>
</head>
<body>
{% include 'menu.html' %}
<section class="right">
    <article class="main">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">新建/修改织娘信息</h1>
            </div>
            <div class="panel-body" id="opt-body">
                <form class="form-horizontal" id="myForm" action="workers/create_or_update" method="post">
                    {% if worker.id %}
                    <input type="hidden" name="id" value="{{worker.id}}">
                    {% endif %}

                    <div class="form-group">
                        <label for="fullname" class="control-label col-md-2">姓名*</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" value="{{worker.fullname}}" name="fullname" id="fullname">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="idcard" class="control-label col-md-2">身份证*</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" value="{{worker.idcard}}" name="idcard"
                                   id="idcard">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address" class="control-label col-md-2">地址*</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" value="{{worker.address}}" name="address"
                                   id="address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tel" class="control-label col-md-2">电话*</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" value="{{worker.tel}}" name="tel"
                                   id="tel">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="is_manager" class="control-label col-md-2">是否管理人员*</label>
                        <div class="col-md-3">
                            <select name="is_manager" class="form-control" id="is_manager">
                                {% for ism in [{"value":0,"text":"否"},{"value":1,"text":"是"}]  %}
                                    {% if worker.is_manager==ism.value %}
                                    <option value="{{ism.value}}" selected>{{ism.text}}</option>
                                    {% else %}
                                    <option value="{{ism.value}}">{{ism.text}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <label for="manager" class="control-label col-md-2">管理人员</label>
                        <div class="col-md-3">
                            <select name="manager" class="form-control" id="manager">
                                {% for manager in managers  %}
                                    {% if manager.id==worker.manager_id %}
                                    <option value="{{manager.id}}" selected>{{manager.fullname}}</option>
                                    {% else %}
                                    <option value="{{manager.id}}">{{manager.fullname}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="memo" class="control-label col-md-2">备注</label>
                        <div class="col-md-8">
                            <textarea class="form-control" id="memo" name="memo" rows="3">{{worker.memo}}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-8">
                            <button type="submit" class="btn btn-success form-control">确定</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </article>
</section>

{% include 'loading.html' %}

</body>
</html>